/* media */
@media(max-width: 768px) {
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box {

    display: block;
    float: none;
    text-align: left;
    width: 100%;
    padding: 0;
		margin: 0;
  }

  #gallery,
  #gallery ul,
  #gallery li,
  #gallery img,
  #gallery figure {
    display: block;
    float: left;
  }

  header {
    padding-bottom: 7px;
  }

  #showcase h1, form {
    font-size: 35px;
    margin-top: 40px;
  }

  #newsletter button {
    display: block;
    width: 100%;
  }
}
